<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:type" content="">
	<meta property="og:description" content="">
	<title>경희대학교-캠퍼스타운</title>

	<link rel="stylesheet" type="text/css" href="../../css/webfonts.css" >
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	
	<script src="../../js/jquery-1.11.3.min.js"></script>
	<script src="../../js/layout.js"></script>
</head>
 <body>


		<!-- header  -->
		<header class="header">
			<div class="h_inner">
				<div class="logo_area">
					<div class="logo">
						<a href="http://">
							<img src="../../images/common/kh_logo.png" alt="경희대학교 캠퍼스 타운" />
						</a>
					</div>
				</div>
				<!-- 사업단 관리자용 페이지인 경우 -->
				<!-- <div class="user_info_area">
					<i class="icon_security"></i> <span class="pl10">사업단 관리자 전용페이지입니다</span>
				</div> -->
				<div class="btn_area">
					<button type="button"><i class="icon_slack"></i></button>
					<button type="button" ><i class="icon_user"></i></button>
					<!-- 사용자 프로필이 텍스트인 경우 -->
					<!-- <span class="user_txt">사업단</span> -->
					<!-- 사용자 프로필이 로고인 경우 -->
					<!-- <span class="user_logo"><img src="../../images/common/user_logo.png" alt="사업단"></span> -->
					<button type="button"><i class="icon_notification"></i></button>
				</div>
			</div>
		</header>


 </body>
</html>
